<div id="controles">
<ul>
	<li><a href="?action=arriba"><img src="img/arriba.png"></a></li>
	<li><a href="?action=abajo"><img src="img/abajo.png"></a></li>
	<li><a href="#"><img src="img/buscar.png"></a></li>

	<li><a href="#"  data-toggle="modal" data-target="#myModal"><img src="img/info.png"></a></li>
</ul>
</div>