<div id="controles">
<ul>
	<li><a href=""><img src="img/arriba.png"></a></li>
	<li><a href=""><img src="img/abajo.png"></a></li>
	<li><a href=""><img src="img/buscar.png"></a></li>
	<li><a href=""><img src="img/info.png"></a></li>
</ul>
</div>