<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{canales.nombre}}</h4>
        </div>
        <div class="modal-body">
          <dl>
            <dt>N&uacute;mero:</dt>
            <dd>{{canales.numero}}</dd>
            <dt>Descripci&oacute;n:</dt>
            <dd>{{canales.descripcion}}</dd>
            <dt>C&oacute;digo:</dt>
            <dd>{{canales.codigo | escape}}</dd>
            <dt>Estado</dt>
            <dd>{% if canales.estado == 1 %}
                  Caido
                {% else %}
                  Transmitiendo
                {% endif %}
            </dd>
            <dt>Categorias:</dt>
          </dl>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
        </div>
      </div>
      
    </div>
  </div>